<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/findUser">
    <label for="userId">User Identifier</label>
    <input id="userId" name="userId" type="text">
    <button type="submit">Find</button>
</form>

<hr>
Previously founded users
<hr>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>VK ID</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <th><a href="user/{{ user.id }}">{{ user.id }}</a></th>
            <th>{{ user.surname }} {{ user.name }}</th>
            <th>{{ user.vk_id }}</th>
        </tr>
    {% endfor %}

    </tbody>
</table>


</body>
</html>